 <div class="page-container">
    <nav class="navbar"> ... </nav>

    <main class="content">
      <!-- Your form and main content -->
    </main>

    <footer>
         <div class="footer-top">
      <h3 class="top">Inspiration for future getaways</h3>
      <div class="footer-links">
        <div>
          <h4>Support</h4>
          <a href="#">Help Centre</a>
          <a href="#">Get help with a safety issue</a>
          <a href="#">AirCover</a>
          <a href="#">Anti-discrimination</a>
          <a href="#">Disability support</a>
          <a href="#">Cancellation options</a>
          <a href="#">Report neighbourhood concern</a>
        </div>
        <div>
          <h4>Hosting</h4>
          <a href="#">WorldHut your home</a>
          <a href="#">WorldHut your experience</a>
          <a href="#">WorldHut your service</a>
          <a href="#">Hosting resources</a>
          <a href="#">Community forum</a>
          <a href="#">Hosting responsibly</a>
          <a href="#">Join a Hosting class</a>
        </div>
        <div>
          <h4>Company</h4>
          <a href="#">About Stayozy</a>
          <a href="#">Newsroom</a>
          <a href="#">Careers</a>
          <a href="#">Investors</a>
          <a href="#">Stayozy.org</a>
        </div>
      </div>
    </div>
      <div class="f-info">
        <div class="f-info-socials">
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-square-instagram"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
        
        <div>&copy; WorldHut-Home Pvt Ltd.</div>
        <div class="f-info-links">
          
          <a href="/privacy">Privacy</a>
          <a href="/terms">Terms</a>
        </div>
        <div><b>Note: This website is developed for Education Purpose only</b></div> <br>
      </div>
    </footer>