<% layout("/boilerplate") %>
<% success %>
<!-- <% layout('boilerplate') -%> -->
<body >
    <form action="/listing/new" method="GET">
        <!-- <button>Create new listing</button> -->
    </form>

    <div class="filters">
      <a href="/listings?category=Trending">
      <div id="filters">  
        <div><i class="fa-solid fa-fire"></i></div><p>Trending</p>
      </div></a>
      <a href="/listings?category=Rooms">
      <div id="filters">
        <div><i class="fa-solid fa-bed"></i></div><p>Room</p>
      </div></a>
      <a href="/listings?category=Iconin city">
      <div id="filters">
       <div><i class="fa-solid fa-mountain-city"></i></div> <p>Iconic city</p>
      </div></a>
       <a href="/listings?category=Beach">
       <div id="filters">
       <div> <i class="fa-solid fa-umbrella-beach"></i>  </div> <p>Beach</p>
      </div></a>
       <a href="/listings?category=Pools">
      <div id="filters">
       <div> <i class="fa-solid fa-person-swimming"></i>  </div> <p>Pools</p>
      </div></a>
         <a href="/listings?category=Forests">
      <div id="filters">
       <div>  <i class="fa-solid fa-tree"></i> </div> <p>Forests</p>
      </div></a>
         <a href="/listings?category=Campaning">
       <div id="filters">
        <div><i class="fa-solid fa-fire"></i></div><p>Campaning</p>
      </div></a>
         <a href="/listings?category=Farm">
      <div id="filters">
        <div><i class="fa-solid fa-cow"></i></div><p>Farm</p>
      </div></a>
         <a href="/listings?category=Domes">
      <div id="filters">
       <div><i class="fa-solid fa-igloo"></i></div> <p>Domes</p>
      </div></a>
         <a href="/listings?category=Island">
       <div id="filters">
       <div> <i class="fa-solid fa-ship"></i> </div> <p>Island</p>
      </div></a>
         <a href="/listings?category=Hills">
      <div id="filters">
       <div> <i class="fa-solid fa-hill-avalanche"></i> </div> <p>Hills</p>
      </div></a>
         <a href="/listings?category=Dinner Dates">
      <div id="filters">
       <div> <i class="fa-solid fa-utensils"></i> </div> <p>Dinner Dates</p>
      </div></a>
         <a href="/listings?category=Religous cities">
           <div id="filters">
       <div><i class="fa-solid fa-gopuram"></i></div> <p>Religous cities </p>
      </div></a>
         <a href="/listings?category=Hotels">
        <div id="filters">
       <div><i class="fa-solid fa-hotel"></i></div> <p>Hotels</p>
      </div></a>
         <a href="/listings?category=Tree House">
        <div id="filters">
       <div><i class="fa-solid fa-tree-city"></i></div> <p>Tree House</p>
      </div></a>
         <a href="/listings?category=Historic">
        <div id="filters">
       <div><i class="fa-solid fa-monument"></i></div> <p>Historic</p>
      </div></a>
         <a href="/listings?category=Houseboat">
        <div id="filters">
       <div><i class="fa-solid fa-sailboat"></i></div> <p>Houseboat</p>
      </div></a>
      

      <div class="toogle-switch mt-3" >
        <div class="form-check form-switch">
           <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
           <label class="form-check-label" for="switchCheckDefault">Display Taxes</label>
        </div>
      </div>
      
    </div>
    

    <div class="row row-cols-xxl-5 row-cols-xl-4  row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
         <% for(let listing of allListing){ %>
       <a href="/listings/<%= listing._id%>">
           <div class="card col" >
  <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text">
        <b><%= listing.title %></b> <br>
         &#8377; <%= listing.price %>
         <i class="taxinfo">&nbsp; &nbsp; &nbsp;+ 18%gst</i>
    </p>
  </div>
  </div>
       </a>
 <%  }  %> 
    </div>
</div>
<script>
  let taxswitch = document.getElementById("switchCheckDefault");
  taxswitch.addEventListener("click", ()=>{
  let taxInfo = document.getElementsByClassName("taxinfo");
  for (info of taxInfo){
    if( info.style.display != "inline"){
      info.style.display= "inline"
    }else{
      info.style.display= "none";
    }
  }
  })
</script>
</body>
