<% layout('/boilerplate') -%>
<body>
    <div class="row">
        <div class="col-8 offset-2" >
    <form action="/listings" method="POST" novalidate class="need-validation" enctype="multipart/form-data">
        <br><br>
        <h3>Create a List</h3>
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
        <input type="text" name="listing[title]" placeholder="Enter Title:" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="Description" class="form-label">Description:</label>
            <input type="textarea" name="listing[description]" placeholder="Enter description:"class="form-control" required>
        </div>

         <div class="mb-3">
             <label for="category" class="form-label">Category:</label>
                <select name="category" id="category">
                    <option value="Trending">Trending</option>
                    <option value="Room">Room</option>
                    <option value="Iconic City">Iconic City</option>
                    <option value="Beach">Beach</option>
                    <option value="Pool">Pool</option>
                    <option value="Forests">Forests</option>
                    <option value="Campaning">Campanings</option>
                    <option value="Farm">Farm</option>
                     <option value="Domes">Domes</option>
                    <option value="Island">Island</option>
                    <option value="Religious City">Religious City</option>
                    <option value="Hills">Hills</option>
                    <option value="Dinner Date">Dinner Date</option>
                    <option value="Hotels">Hotels</option>
                    <option value="Tree House">Tree House</option>
                    <option value="Historic">Historic</option>
                    <option value="House Boat">House Boat</option>
                </select>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">zupload image:</label>
            <input type="file" name="listing[image]"  class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="number" name="listing[price]" placeholder="Enter price:" class="form-control" required>
        </div>

        <div class="mb-3">
             <label for="Location:" class="form-label">Location:</label>
            <input type="text" name="listing[location]" placeholder="Enter location:" class="form-control" required>
        </div>

        <div class="mb-3">
             <label for="Country" class="form-label">Country:</label>
            <input type="text" name="listing[country]" placeholder="Enter country:" class="form-control" required>

        </div>
        <button class="btn btn-dark" style="background-color:#fe424d">Add</button>
        <br><br>
    </form>
    </div>
    </div>
   
</body>
