<% layout('/boilerplate') -%>
<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUp on WorldHut</h1>
    <br><br>
        <div class="col-6 offset-3" >
            <form action="/signup" method="post" class="needs-validation" novalidate>
            
                   <div class="mb-3">
            <label for="username" class="form-label">username:</label>
        <input type="text" name="username" id="username" placeholder="Enter username:" class="form-control" required>
        </div>
           <div class="mb-3">
            <label for="email" class="form-label">email:</label>
        <input type="email" name="email" placeholder="Enter email:" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password:</label>
        <input type="password" name="password" placeholder="Enter Password:" class="form-control" required>
        </div>
        <button class="btn btn-success">SignUp</button>
            </form>

            </div>
            </div>